In [128]:
import pandas

In [129]:
data_frame=pandas.read_csv('/content/sample_data/image_train_data.csv')

In [130]:
data_frame

          Date  Sensex_value  Nifty_value  22k gold price  24k gold price
0   11-07-2022       54363.0      16199.0            4680            4914
1   12-07-2022       53840.0      16037.0            4670            4904
2   13-07-2022       53549.0      15975.0            4660            4893
3   14-07-2022       53449.0      15947.0            4660            4893
4   15-07-2022       53786.0      16052.0            4676            4910
5   16-07-2022           NaN          NaN            4627            4858
6   17-07-2022           NaN          NaN            4627            4858
7   18-07-2022       54533.0      16281.0            4647            4879
8   19-07-2022       54723.0      16329.0            4658            4891
9   20-07-2022       55302.0      16495.0            4667            4900
10  21-07-2022       55703.0      16609.0            4630            4862
11  22-07-2022       56052.0      16714.0            4666            4899
12  23-07-2022           NaN          NaN            4696            4931
13  24-07-2022           NaN          NaN            4696            4931
14  25-07-2022       55716.0      16610.0            4720            4956
15  26-07-2022       55221.0      16466.0            4728            4964
16  27-07-2022       55810.0      16642.0            4735            4972
17  28-07-2022       56827.0      16922.0            4767            5005
18  29-07-2022       57576.0      17157.0            4805            5045
19  30-07-2022           NaN          NaN            4815            5056
20  31-07-2022           NaN          NaN            4815            5056
21  01-08-2022       58089.0      17332.0            4795            5035
22  02-08-2022       57996.0      17294.0            4820            5061
23  03-08-2022       58384.0      17392.0            4802            5042
24  04-08-2022       58232.0      17364.0            4825            5066
25  05-08-2022       58349.0      17389.0            4865            5108
26  06-08-2022           NaN          NaN            4845            5087
27  07-08-2022       58388.0      17397.0            4845            5087
28  08-08-2022       58853.0      17525.0            4850            5093

Filling NaN values with mean of that column

In [131]:
data_frame['Sensex_value'].fillna(data_frame['Sensex_value'].mean(),inplace=True)

In [132]:
data_frame['Nifty_value'].fillna(data_frame['Nifty_value'].mean(),inplace=True)

In [133]:
data_frame

          Date  Sensex_value   Nifty_value  22k gold price  24k gold price
0   11-07-2022  54363.000000  16199.000000            4680            4914
1   12-07-2022  53840.000000  16037.000000            4670            4904
2   13-07-2022  53549.000000  15975.000000            4660            4893
3   14-07-2022  53449.000000  15947.000000            4660            4893
4   15-07-2022  53786.000000  16052.000000            4676            4910
5   16-07-2022  56124.590909  16733.090909            4627            4858
6   17-07-2022  56124.590909  16733.090909            4627            4858
7   18-07-2022  54533.000000  16281.000000            4647            4879
8   19-07-2022  54723.000000  16329.000000            4658            4891
9   20-07-2022  55302.000000  16495.000000            4667            4900
10  21-07-2022  55703.000000  16609.000000            4630            4862
11  22-07-2022  56052.000000  16714.000000            4666            4899
12  23-07-2022  56124.590909  16733.090909            4696            4931
13  24-07-2022  56124.590909  16733.090909            4696            4931
14  25-07-2022  55716.000000  16610.000000            4720            4956
15  26-07-2022  55221.000000  16466.000000            4728            4964
16  27-07-2022  55810.000000  16642.000000            4735            4972
17  28-07-2022  56827.000000  16922.000000            4767            5005
18  29-07-2022  57576.000000  17157.000000            4805            5045
19  30-07-2022  56124.590909  16733.090909            4815            5056
20  31-07-2022  56124.590909  16733.090909            4815            5056
21  01-08-2022  58089.000000  17332.000000            4795            5035
22  02-08-2022  57996.000000  17294.000000            4820            5061
23  03-08-2022  58384.000000  17392.000000            4802            5042
24  04-08-2022  58232.000000  17364.000000            4825            5066
25  05-08-2022  58349.000000  17389.000000            4865            5108
26  06-08-2022  56124.590909  16733.090909            4845            5087
27  07-08-2022  58388.000000  17397.000000            4845            5087
28  08-08-2022  58853.000000  17525.000000            4850            5093

Filling NaN values with mode of that column

In [134]:
data_frame=pandas.read_csv('/content/sample_data/image_train_data.csv')

In [135]:
data_frame['Sensex_value'].fillna(data_frame['Sensex_value'].mode(),inplace=True)

In [136]:
data_frame['Nifty_value'].fillna(data_frame['Nifty_value'].mode(),inplace=True)

In [137]:
data_frame

          Date  Sensex_value  Nifty_value  22k gold price  24k gold price
0   11-07-2022       54363.0      16199.0            4680            4914
1   12-07-2022       53840.0      16037.0            4670            4904
2   13-07-2022       53549.0      15975.0            4660            4893
3   14-07-2022       53449.0      15947.0            4660            4893
4   15-07-2022       53786.0      16052.0            4676            4910
5   16-07-2022       54533.0      16281.0            4627            4858
6   17-07-2022       54723.0      16329.0            4627            4858
7   18-07-2022       54533.0      16281.0            4647            4879
8   19-07-2022       54723.0      16329.0            4658            4891
9   20-07-2022       55302.0      16495.0            4667            4900
10  21-07-2022       55703.0      16609.0            4630            4862
11  22-07-2022       56052.0      16714.0            4666            4899
12  23-07-2022       56052.0      16714.0            4696            4931
13  24-07-2022       56827.0      16922.0            4696            4931
14  25-07-2022       55716.0      16610.0            4720            4956
15  26-07-2022       55221.0      16466.0            4728            4964
16  27-07-2022       55810.0      16642.0            4735            4972
17  28-07-2022       56827.0      16922.0            4767            5005
18  29-07-2022       57576.0      17157.0            4805            5045
19  30-07-2022       58384.0      17392.0            4815            5056
20  31-07-2022       58388.0      17397.0            4815            5056
21  01-08-2022       58089.0      17332.0            4795            5035
22  02-08-2022       57996.0      17294.0            4820            5061
23  03-08-2022       58384.0      17392.0            4802            5042
24  04-08-2022       58232.0      17364.0            4825            5066
25  05-08-2022       58349.0      17389.0            4865            5108
26  06-08-2022           NaN          NaN            4845            5087
27  07-08-2022       58388.0      17397.0            4845            5087
28  08-08-2022       58853.0      17525.0            4850            5093

filling NaN values with median of that column

In [138]:
data_frame=pandas.read_csv('/content/sample_data/image_train_data.csv')

In [139]:
data_frame['Sensex_value'].fillna(data_frame['Sensex_value'].median(),inplace=True)

In [140]:
data_frame['Nifty_value'].fillna(data_frame['Nifty_value'].median(),inplace=True)

In [141]:
data_frame

          Date  Sensex_value  Nifty_value  22k gold price  24k gold price
0   11-07-2022       54363.0      16199.0            4680            4914
1   12-07-2022       53840.0      16037.0            4670            4904
2   13-07-2022       53549.0      15975.0            4660            4893
3   14-07-2022       53449.0      15947.0            4660            4893
4   15-07-2022       53786.0      16052.0            4676            4910
5   16-07-2022       55763.0      16626.0            4627            4858
6   17-07-2022       55763.0      16626.0            4627            4858
7   18-07-2022       54533.0      16281.0            4647            4879
8   19-07-2022       54723.0      16329.0            4658            4891
9   20-07-2022       55302.0      16495.0            4667            4900
10  21-07-2022       55703.0      16609.0            4630            4862
11  22-07-2022       56052.0      16714.0            4666            4899
12  23-07-2022       55763.0      16626.0            4696            4931
13  24-07-2022       55763.0      16626.0            4696            4931
14  25-07-2022       55716.0      16610.0            4720            4956
15  26-07-2022       55221.0      16466.0            4728            4964
16  27-07-2022       55810.0      16642.0            4735            4972
17  28-07-2022       56827.0      16922.0            4767            5005
18  29-07-2022       57576.0      17157.0            4805            5045
19  30-07-2022       55763.0      16626.0            4815            5056
20  31-07-2022       55763.0      16626.0            4815            5056
21  01-08-2022       58089.0      17332.0            4795            5035
22  02-08-2022       57996.0      17294.0            4820            5061
23  03-08-2022       58384.0      17392.0            4802            5042
24  04-08-2022       58232.0      17364.0            4825            5066
25  05-08-2022       58349.0      17389.0            4865            5108
26  06-08-2022       55763.0      16626.0            4845            5087
27  07-08-2022       58388.0      17397.0            4845            5087
28  08-08-2022       58853.0      17525.0            4850            5093

Filling NaN values with Standard Deviation of that Column

In [142]:
data_frame=pandas.read_csv('/content/sample_data/image_train_data.csv')

In [143]:
data_frame['Sensex_value'].fillna(data_frame['Sensex_value'].std(),inplace=True)

In [144]:
data_frame['Nifty_value'].fillna(data_frame['Nifty_value'].std(),inplace=True)

In [145]:
data_frame

          Date  Sensex_value   Nifty_value  22k gold price  24k gold price
0   11-07-2022    54363.0000  16199.000000            4680            4914
1   12-07-2022    53840.0000  16037.000000            4670            4904
2   13-07-2022    53549.0000  15975.000000            4660            4893
3   14-07-2022    53449.0000  15947.000000            4660            4893
4   15-07-2022    53786.0000  16052.000000            4676            4910
5   16-07-2022     1839.3331    542.492037            4627            4858
6   17-07-2022     1839.3331    542.492037            4627            4858
7   18-07-2022    54533.0000  16281.000000            4647            4879
8   19-07-2022    54723.0000  16329.000000            4658            4891
9   20-07-2022    55302.0000  16495.000000            4667            4900
10  21-07-2022    55703.0000  16609.000000            4630            4862
11  22-07-2022    56052.0000  16714.000000            4666            4899
12  23-07-2022     1839.3331    542.492037            4696            4931
13  24-07-2022     1839.3331    542.492037            4696            4931
14  25-07-2022    55716.0000  16610.000000            4720            4956
15  26-07-2022    55221.0000  16466.000000            4728            4964
16  27-07-2022    55810.0000  16642.000000            4735            4972
17  28-07-2022    56827.0000  16922.000000            4767            5005
18  29-07-2022    57576.0000  17157.000000            4805            5045
19  30-07-2022     1839.3331    542.492037            4815            5056
20  31-07-2022     1839.3331    542.492037            4815            5056
21  01-08-2022    58089.0000  17332.000000            4795            5035
22  02-08-2022    57996.0000  17294.000000            4820            5061
23  03-08-2022    58384.0000  17392.000000            4802            5042
24  04-08-2022    58232.0000  17364.000000            4825            5066
25  05-08-2022    58349.0000  17389.000000            4865            5108
26  06-08-2022     1839.3331    542.492037            4845            5087
27  07-08-2022    58388.0000  17397.000000            4845            5087
28  08-08-2022    58853.0000  17525.000000            4850            5093

Filling the NaN values with minimum value of that column

In [146]:
data_frame=pandas.read_csv('/content/sample_data/image_train_data.csv')

In [147]:
data_frame['Sensex_value'].fillna(min(data_frame['Sensex_value']),inplace=True)

In [148]:
data_frame['Nifty_value'].fillna(min(data_frame['Nifty_value']),inplace=True)

In [149]:
data_frame

          Date  Sensex_value  Nifty_value  22k gold price  24k gold price
0   11-07-2022       54363.0      16199.0            4680            4914
1   12-07-2022       53840.0      16037.0            4670            4904
2   13-07-2022       53549.0      15975.0            4660            4893
3   14-07-2022       53449.0      15947.0            4660            4893
4   15-07-2022       53786.0      16052.0            4676            4910
5   16-07-2022       53449.0      15947.0            4627            4858
6   17-07-2022       53449.0      15947.0            4627            4858
7   18-07-2022       54533.0      16281.0            4647            4879
8   19-07-2022       54723.0      16329.0            4658            4891
9   20-07-2022       55302.0      16495.0            4667            4900
10  21-07-2022       55703.0      16609.0            4630            4862
11  22-07-2022       56052.0      16714.0            4666            4899
12  23-07-2022       53449.0      15947.0            4696            4931
13  24-07-2022       53449.0      15947.0            4696            4931
14  25-07-2022       55716.0      16610.0            4720            4956
15  26-07-2022       55221.0      16466.0            4728            4964
16  27-07-2022       55810.0      16642.0            4735            4972
17  28-07-2022       56827.0      16922.0            4767            5005
18  29-07-2022       57576.0      17157.0            4805            5045
19  30-07-2022       53449.0      15947.0            4815            5056
20  31-07-2022       53449.0      15947.0            4815            5056
21  01-08-2022       58089.0      17332.0            4795            5035
22  02-08-2022       57996.0      17294.0            4820            5061
23  03-08-2022       58384.0      17392.0            4802            5042
24  04-08-2022       58232.0      17364.0            4825            5066
25  05-08-2022       58349.0      17389.0            4865            5108
26  06-08-2022       53449.0      15947.0            4845            5087
27  07-08-2022       58388.0      17397.0            4845            5087
28  08-08-2022       58853.0      17525.0            4850            5093

Filling NaN values with maximum value of that column

In [150]:
data_frame=pandas.read_csv('/content/sample_data/image_train_data.csv')

In [151]:
data_frame['Sensex_value'].fillna(max(data_frame['Sensex_value']),inplace=True)

In [152]:
data_frame['Nifty_value'].fillna(max(data_frame['Nifty_value']),inplace=True)

In [153]:
data_frame

          Date  Sensex_value  Nifty_value  22k gold price  24k gold price
0   11-07-2022       54363.0      16199.0            4680            4914
1   12-07-2022       53840.0      16037.0            4670            4904
2   13-07-2022       53549.0      15975.0            4660            4893
3   14-07-2022       53449.0      15947.0            4660            4893
4   15-07-2022       53786.0      16052.0            4676            4910
5   16-07-2022       58853.0      17525.0            4627            4858
6   17-07-2022       58853.0      17525.0            4627            4858
7   18-07-2022       54533.0      16281.0            4647            4879
8   19-07-2022       54723.0      16329.0            4658            4891
9   20-07-2022       55302.0      16495.0            4667            4900
10  21-07-2022       55703.0      16609.0            4630            4862
11  22-07-2022       56052.0      16714.0            4666            4899
12  23-07-2022       58853.0      17525.0            4696            4931
13  24-07-2022       58853.0      17525.0            4696            4931
14  25-07-2022       55716.0      16610.0            4720            4956
15  26-07-2022       55221.0      16466.0            4728            4964
16  27-07-2022       55810.0      16642.0            4735            4972
17  28-07-2022       56827.0      16922.0            4767            5005
18  29-07-2022       57576.0      17157.0            4805            5045
19  30-07-2022       58853.0      17525.0            4815            5056
20  31-07-2022       58853.0      17525.0            4815            5056
21  01-08-2022       58089.0      17332.0            4795            5035
22  02-08-2022       57996.0      17294.0            4820            5061
23  03-08-2022       58384.0      17392.0            4802            5042
24  04-08-2022       58232.0      17364.0            4825            5066
25  05-08-2022       58349.0      17389.0            4865            5108
26  06-08-2022       58853.0      17525.0            4845            5087
27  07-08-2022       58388.0      17397.0            4845            5087
28  08-08-2022       58853.0      17525.0            4850            5093